.comprarSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.comprarSection .titleComprar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.comprarSection .titleComprar hr {
  width: 487.5px;
  border: 0px;
  height: 1px;
  background: #e2e4e9;
}
.comprarSection .titleComprar h5 {
  text-align: center;
  color: #4c5367;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.listComprar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.itemListComprar {
  width: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.itemListComprar .iconItem {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f5e9d6;
}
.itemListComprar .iconItem img {
  width: 100%;
}
.itemListComprar .txtListComprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.itemListComprar .txtListComprar h5 {
  color: #21242c;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.itemListComprar .txtListComprar p {
  color: #4c5367;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1150px) {
  .comprarSection .titleComprar {
    width: 90%;
  }
  .comprarSection .titleComprar hr {
    width: 109px;
    height: 1px;
  }
  .comprarSection .titleComprar h5 {
    width: 45%;
    text-align: center;
    color: #21242c;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  .listComprar {
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: normal;
    justify-content: normal;
  }
  .itemListComprar {
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin-bottom: 15px;
  }
  .itemListComprar .txtListComprar h5 {
    font-size: 12px;
    line-height: 14px;
  }
  .itemListComprar .txtListComprar p {
    font-size: 12px;
    line-height: 18px;
    width: fit-content;
    white-space: normal;
  }

  .itemListComprar .iconItem {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .itemListComprar .iconItem img {
    width: 20px;
  }
}
