.sobreMelisa {
  display: flex;
  width: 80%;
  padding: 80px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 40px;
}
.sobreMelisa img {
  width: 272.014px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}
.txtMelisa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.txtMelisa h2 {
  color: #101928;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
}
.txtMelisa p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.txtMelisa a {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  color: #c0a072;
  border: 1px solid #cdb490;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: 2px solid transparent;
  transition: all 300ms;
}
.txtMelisa a:hover {
  outline: 2px solid #cdb490;
}

@media screen and (max-width: 1150px) {
  .sobreMelisa {
    padding: 0 67px;
    width: 90%;
  }
  .txtMelisaResponsive {
    display: none;
  }
  .txtMelisa {
    gap: 16px;
    align-items: center;
  }
  .txtMelisa img {
    width: 104.637px;
    height: 104.637px;
    border-radius: 81px;
  }
  .txtMelisa h2 {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
  .txtMelisa p {
    text-align: center;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .txtMelisa a {
    font-size: 12px;
    line-height: 14px;
  }
  .txtMelisa a:hover {
    outline: 2px solid #cdb490;
  }
}
