.creacionesSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.creacionesTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.creacionesTitle h3 {
  color: #21242c;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
}
.creacionesTitle p {
  color: #21242c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.creacionesSection a {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--interfaz-primario, #cdb490);
  color: #cdb490;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.containerCreaciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.itemCreacion {
  display: flex;
  width: 272px;
  height: 340px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.itemCreacion img {
  width: 272px;
  height: 256px;
  flex-shrink: 0;
}
.itemCreacion .txtItem {
  display: flex;
  width: 272px;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.itemCreacion .txtItem h4 {
  color: #21242c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.itemCreacion .txtItem p {
  color: #4c5367;
  font-size: 12px;
  font-weight: 400;
  padding-right: 32px;
  line-height: 18px;
}
